*, *::before, *::after {
    box-sizing: border-box;
  }
* {
margin: 0;
}

body {
    /* border: 2px solid blue; */
    width: 100%;
    margin: 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: sans-serif;
}

.page {
    max-width: 720px;
    height: 100%;
    /* border: 2px solid black; */
    margin: 30px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}

footer {
    width: 100%;
    text-align: center;
}

img {
    /* border: 1px dashed black; */
    width: 100%;
    place-self: center;
}